

<!DOCTYPE html>
<html>
<head>
<title>404</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/product-bucket-user/header/css/header_footer.css?v=<?=md5(strtotime('now'))?>">
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/product-bucket-user/mf/css/bootstrap.min.css?v=<?=md5(strtotime('now'))?>"> 
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/product-bucket-user/mf/css/font-awesome.min.css?v=<?=md5(strtotime('now'))?>"> 
<link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/product-bucket-user/mf/custom-404/css/error-page.css?v=<?=md5(strtotime('now'))?>"> 
<!-- <link href="css/bootstrap.min.css?v=3" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/new_global_header.css" rel="stylesheet" type="text/css" />
<link href="css/error-page.css?v=10" rel="stylesheet" type="text/css" /> -->
</head>
<body>

<section class="errormain">
  <div class="lfterror">
    <h2 class="errorhead">OOOPS!</h2>
        <h3 class="errorheadsub">We can't seem to find the page you're looking for. We can fix that.
follow us to our <a href="https://www.myuniverse.in">homepage</a>!</h3>
        <div class="lasttext">error code 404</div>
  </div>
    <div class="rhterror"><img src="https://s3.ap-south-1.amazonaws.com/product-bucket-user/mf/custom-404/images/manerror.png"  class="vert-move"></div>
  
  

</section>

<!-- <script type="text/javascript" src="{{secure_asset('public/custom-404/js/jquery.min.js')}}"></script> 
<script type="text/javascript" src="{{secure_asset('public/custom-404/js/bootstrap.min.js')}}"></script> 
<script type="text/javascript" src="{{secure_asset('public/custom-404/js/bootstrap.offcanvas.js')}}"></script>  -->

</body>
</html>
